= form_for @application_setting, url: network_admin_application_settings_path(anchor: 'js-packages-limits-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    = _("The package registry rate limits can help reduce request volume (like from crawlers or abusive bots).")

  %fieldset
    .form-group
      .form-check
        = f.check_box :throttle_unauthenticated_packages_api_enabled, class: 'form-check-input', data: { qa_selector: 'throttle_unauthenticated_packages_api_checkbox' }
        = f.label :throttle_unauthenticated_packages_api_enabled, class: 'form-check-label label-bold' do
          = _('Enable unauthenticated API request rate limit')
    .form-group
      = f.label :throttle_unauthenticated_packages_api_requests_per_period, _('Maximum unauthenticated API requests per rate limit period per IP'), class: 'label-bold'
      = f.number_field :throttle_unauthenticated_packages_api_requests_per_period, class: 'form-control gl-form-input'
    .form-group
      = f.label :throttle_unauthenticated_packages_api_period_in_seconds, _('Unauthenticated API rate limit period in seconds'), class: 'label-bold'
      = f.number_field :throttle_unauthenticated_packages_api_period_in_seconds, class: 'form-control gl-form-input'
    %hr
    .form-group
      .form-check
        = f.check_box :throttle_authenticated_packages_api_enabled, class: 'form-check-input', data: { qa_selector: 'throttle_authenticated_packages_api_checkbox' }
        = f.label :throttle_authenticated_packages_api_enabled, class: 'form-check-label label-bold' do
          = _('Enable authenticated API request rate limit')
    .form-group
      = f.label :throttle_authenticated_packages_api_requests_per_period, _('Maximum authenticated API requests per rate limit period per user'), class: 'label-bold'
      = f.number_field :throttle_authenticated_packages_api_requests_per_period, class: 'form-control gl-form-input'
    .form-group
      = f.label :throttle_authenticated_packages_api_period_in_seconds, _('Authenticated API rate limit period in seconds'), class: 'label-bold'
      = f.number_field :throttle_authenticated_packages_api_period_in_seconds, class: 'form-control gl-form-input'

  = f.submit _('Save changes'), class: "gl-button btn btn-confirm", data: { qa_selector: 'save_changes_button' }
